---
title: Works
---
<h1>Audio</h1>

<ul>
  {% for post in site.posts %}
  {% if post.category=='audio' %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
      {% if post.category %}
      <p>{{ post.category | downcase }}</p>
      {% endif %}
    </li>
  {% endif %}

  {% endfor %}
</ul>
<h1>Posts</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
