/* vars */
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$highlight-color: #DEFF00;
$link-color: black;

/* end vars */


/* begin global stuff */
* {
  font-family:$font-family-sans-serif;
}
body {
  line-height:1.25;
  //padding: 1rem;
}

.content ul, p{
  padding-inline-start:0rem;
  padding-left:1rem;
  padding-right:1rem;
  margin-right:0;
  margin-left:0;
}

// links
a {
  color: $link-color;
}
a:hover {
  background-color: $highlight-color;
  text-decoration: none;
  color: $link-color
}

li {
  list-style-type: none;
  display: block;
  padding-right:1rem;
  padding-bottom:1.25rem;
  width:100%;
}

.excerpt p {
  display:inline;
  padding:0 1rem 0 1rem;
}

/* end global stuff */

// /* Begin Nav Bar Styling */
// from w3
/* Add a black background color to the top navigation */
.topnav {
  //background-color: #333;
  overflow: hidden;
  // margin-bottom:1rem;
  position:fixed;
  top:0;
  right:0;
  left:0;
  background-color:white;
  margin-left:auto;
  margin-right:auto;
  line-height:1.15;
  z-index:1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: $link-color;
  text-align: left;
  //padding: 14px 16px;
  margin-left:1rem;
  margin-right:1rem;
  text-decoration: none;
  font-size: 3.5rem;
}

.topnav #brand {
  //margin-right:1rem;
}

.topnav ul {
  padding:0;
  margin:0;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $highlight-color;
  color: black;
}

/* Add an active class to highlight the current page */
.current {
  background-color: $highlight-color;

}
.topnav a.active {
  background-color: $highlight-color;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* adjust content height to account for nav */
.content { // default height
  position: absolute;
  left:8;
  top:8;
  right:8;
  margin-top: 3.5rem;
}
.doubleMenu {
  margin-top: 7.5rem!important;
}
.tripleMenu {
  margin-top: 11.5rem!important;
}

// end from w3

// nav {
//   position: fixed; /* Set the navbar to fixed position */
//   top: 0;
//   overflow:hidden;
//   //display:none;
// }

// nav ul {
//   list-style-type:none;
//   margin: 0;
//   padding: 0;
// }

// nav li, a {
//   font-size: 200%;
//   text-decoration: none;
//   display: inline;
//   padding: 2px;
//   margin: 0;
//   background-color: white;
// }

// .small-menu {
//   display:none;

// }
// .big-menu {
//   display:inline;
// }
// .content {
//   margin-top: 10rem;
// }

// .navbar {
//   //width:100%;
//   padding:0.5rem 0.5rem 0.5rem 0rem;

// }
// /* End Nav Bar Styling */

/* begin blog listing style */

/* end blog listing style */

/* begin form stuff */
form  {
  padding: 10px 0 10px 0;
}

form label, input, button {
  display: block;
}

textarea {
    width: 33%;
    height: 100px;
}
/* end form stuff */
