/* vars */
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$highlight-color: #DEFF00;
$link-color: black;

/* end vars */


/* begin global stuff */
body {
  line-height:1.25;
  //padding: 1rem;
}

.pure-g {
  padding-left:1rem;
  padding-right:1rem;
}

.pure-g > div {
        box-sizing: border-box;
    }
    .l-box {
        width:100%;
        margin:auto;
    }


// links
a {
  color: $link-color;
}
a:hover {
  background-color: $highlight-color;
  text-decoration: none;
  color: $link-color
}

li {
  list-style-type: none;
  display: block;
  padding-right:1rem;
  padding-bottom:1.25rem;
  width:100%;
}
ul {
  padding:0;
}

.excerpt p {
  display:inline;
  padding:0 1rem 0 1rem;
}

/* end global stuff */

/* Begin Nav Bar Styling */

// trying a clickable dropdown
/*hide the inputs/checkmarks and submenu*/
.inv_check {
  display: none;
}

input, ul.submenu {
  display: none;
}

/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;

}

.right {
  //float: right;
  //text-align:left;
  text-justify: inter-word;
}

/*show the submenu when input is checked*/
input:checked~ul.submenu {
  display: block;
}
// clickable dropdown above

nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  overflow:hidden;
  //display:none;
}

nav ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

nav li, a {
  font-size: 200%;
  text-decoration: none;
  display: inline;
  padding: 2px;
  margin: 0;
  background-color: white;
}

.small-menu {
  display:none;

}
.big-menu {
  display:inline;
}
.content {
  margin-top: 10rem;
}

.navbar {
  //width:100%;
  padding:0.5rem 0.5rem 0.5rem 0rem;

}

.current {
  background-color: $highlight-color;
  font-size: 2em;
  margin-left: 0;
  margin-right: 0;
}
/* End Nav Bar Styling */

/* begin blog listing style */

/* end blog listing style */

/* begin form stuff */
form  {

  padding: 10px 0 10px 0;
}

form label, input, button {
  display: block;
}

textarea {
    width: 33%;
    height: 100px;
}
/* end form stuff */
